.App {
  text-align: center;
}
body {
  position: relative;
  width: auto;
  height: auto;
  background: #faf9f9;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navcontainer {
  list-style-type: none;
  display: flex;
}
.logo{
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 50px;
  padding: 0px 30px;
}
.navitem {
  padding: 0px 50px;
  font-size: 40px;
}
